<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" onsubmit="onSubmitForm(event)">
        <label for="product">
            Product name
            <input id="product" name="productName" type="text">
        </label>
  <button type="submit">Add products</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/js/product.js"></script>
</body>
</html>